
body {
  background-color: lightgreen;
}


.container {
  background-color: lightgreen;
}

.reg-form-container{
  display: flex;
  justify-content: center;
  margin: 110px;
  padding: 50px;
}





.nav-bar-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
  margin: 0px;
}

.home-nav-link{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px;
  width: 400px;
  list-style: none;
}

.reg-link{
  display: flex;
}

.reg-text, .login-text, .dash-text, .home-text{
  display: flex;
  justify-content: center;
  margin: 5px;
  padding: 10px;
  color: green
}


.login-form-container{
  display: flex;
  justify-content: center;
  margin: 15px;
  padding: 20px;
  gap: 5px;
  float: center

}

.dash-container{
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
  border: 5px solid green;
  margin: 200px;
  padding: 60px;
}

.log-out-btn {
  background-color: #04AA6D;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
}

.drop-down-container{
  display: flex;
}


.role-text{
  margin: 10px;
}

#user-role{
  background-color: lightgrey;
  color: black
}

.drop-down-container{
  display: flex;
  border: 3px solid red;
  margin: 20px
}

.form-text-fld{
  color: black;
}