body{
    margin: auto;
    padding:auto;
    font-family: 'Roboto', sans-serif;
    background-color: black;
  }
  
  /* Basic styles for the navbar */
  .navbar {
    display:flex;
    justify-content: space-between;
    height: 150px;
    background-color: #28a745;
    border:5px solid red;
  }
  
  /* left navigation */
 .nav-left {
     justify-content: left;
     font-family: sans-serif;
     border: 3px solid black;
     width: 300px;
     padding: 10px;
  }
  
  .nav-left h2 { 
    justify-content: left;
    color: white;  
  }  
  
  .nav-left h4 { 
    margin-top: 40px;
    color: black;
    font-style: italic;
    padding: 0;
  } 

  /* right navigation  */

  .nav-right {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right;
    border: 3px solid red;
    width: 50%;
  }

  .mood-list-container{
    display: flex;
    flex-direction: row;
    margin: 10px;
    border: 2px solid blue;
    width: 50%;
  }

  .mood-list-container ul{
    display: flex;
    border: 2px solid black;
    list-style: none;
    width: 100%;
    padding: 0;
  }

  /* FORMS..............................................................................*/
    
  /*MOOD FORM...........................................*/

  .mood-form-container{
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .emoji-mood-form.active{
    display: flex;
  }

  .mood {
    text-align: center;
    margin: 0px 0px 20px 0px;
    font-size: 20px;
    font-weight: bold;
  }

  .mood-image{
    font-size: 20px; 
   }

  #emoji-mood-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 3px solid orange;
    width: 400px;
  } 

 .emoji-container{
      width: 120%;
      max-width: 300px;
      background-color: #fff;
      border-radius: 10px;
      margin: 25px;
      padding: 20px;
      box-shadow: 0px 0px 3px 1px #777;
      border: 3px solid blue
  }

  .emoji {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin: 0px;
    text-shadow: 0px opx 4px #555;
  }

  #emoji-close-btn {
    cursor: pointer;
    font-size: 13px;
    position: absolute;
    margin-left: 280px;
    margin-top: -50px;
    border: 3px solid red;
  }

  .emoji-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    max-width: 400px;
    margin: 0;
    background-color: #ccc;
    padding: 0;
    outline: none;
    cursor: pointer;
  }

 /* LOGIN FORM SECTION ..................................................*/


 .form-container {
  position: relative;
  margin-top: 180px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 3px solid orange;
  width: 30%; 
  height: 30%;
  z-index: 1000;
  display: none;
}

.form-element{
  display: flex;
  position: relative;
  background-color: blue;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 550px;
  gap: 20px
}

#form-input{
display: flex;
flex-direction: column;
border: 3px solid black;
width: 60%;
height: 60%;
}
  
.form-element.active{
  display: flex;
}

.form-element {
  transition: opacity 0.3s ease;
}

.form-element #welcome-msg{
  position: relative;
  margin-top: -75px;
  color: red;
  margin-bottom: 2px
}

.form-element #detail-msg{
  position: relative;
  margin-top: 2px;
  margin-bottom: 10px;
  color: black;
}

.form-element .input-field {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
}     

#login-btn {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
  
  #close-btn{
    display: flex;
    justify-content: right;
    background-color: red;
    color: white;
    border: none;
    border-radius: 2px;
    margin-left: 400px;
    margin-top: 10;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 15px;
  } 

 /* Weather form section............................ */

 .weather-form-container{
  margin: 200px;
  padding: 10px;
  background-color: grey;
  display: none;
  border-radius: 10px;
  border: 3px solid purple;
  width: 30%; 
  height: 80%;
  z-index: 1000;
  justify-content: center;
 }


 .weather-form-element .active{
  display: flex;
}


.weather-form-element {
  transition: opacity 0.3s ease;
}

.weather-icon{
  display: flex;
  justify-content: center;

}

#weather-heading{
  position: relative;
  margin-top: -75px;
  color: white;
  margin-bottom: 2px;
  font-size: 25px;

}

#weather-close-button{
  color: green;
  justify-content: end;
}

#w-list{
  flex-direction: column;
  list-style: none;
  padding: 25px;
  color: greenyellow;

}

#weather-image, #celcius {
  font-size: 30px;
}

#weather-condition, #humidity{
  font-size: 15px;
  color: lightgray
}



  

  /* PROFILE FORM section................................................ */


  
  .profile-container{
    display:none;
    position: relative;
    top: 0;
    left: 0;
    width: 300px;
    height:900px; 
    background-color: transparent;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    gap: 20px
  } 
  
  
  
  .profile-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 50rem;
    margin-top: 25rem;
    background-color: skyblue;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    height: 300px;
    max-width: 80%; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    gap: 15px
  }  
  
  .profile-heading{
    color: red;
  }
 
    #profile-close-button{
      background-color: red;
      color: black;
      position: relative;
      margin-bottom: -20px;
      margin-left: 90%;
      font-size: 18px;
      font-weight: bolder;
    } 
  
    .profile-container.active{
      display: flex;
    }
  
    .profile-container{
      transition: opacity 0.3s ease;
    }
  
  
   button .save-btn{
    color: greenyellow;
    border-radius: 15px;
   } 
  
/* 
   EDIT ..................................................
 */
 /* Edit task form........................................... */
  
  
  .edit-task{
    display:none;
    position: relative;
    width: 300px;
    height:200px;
    margin-top: -450px;
    margin-left: 500px;
    background-color: gray;
    z-index: 1000;
    border: 3px solid red;
  }
  
   .edit-task-form{
    margin-left: 50rem;
    margin-top: 25rem;
    background-color: skyblue;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    max-width: 80%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
  
  } 
  
  .edit-task #edit-task-msg{
    color: white;
    position: relative;
    margin-top: -34px;
    margin-bottom: 15px;
    padding-left: 5px;
  } 
  
    .edit-task #edit-task-close-btn{
      background-color: red;
      color: white;
      border: none;
      border-radius: 2px;
      padding: 5px 10px;
      cursor: pointer;
      font-size: 20px;
      position: relative;
      margin-left: 265px;
      margin-top: 2px;
    }
  
    .edit-task.active{
      display: flex;
    }
 
    .edit-task{
      transition: opacity 0.3s ease;
    }
    
    .edit-task-title, .edit-task-time {
      font-weight: bold;
    }
  
    #edit-task-name,  #edit-duration, #edit-time-display{
      font-size: 12px;
      margin-left: 5px;
      padding-left: 5px;
      width: 200px;
      height: 20px;
      border: 25px;
      color: black
    }
  
    #edit-save-btn {
      background: greenyellow;
      color: black;
      border-radius: 15px;
      margin-left: 5px;
      padding-left: 5px;
      width: 200px;
      height: 25px;
    }
  
  /* Main Container */

  .main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
  }

 .flex-container {
  display: flex;
  position: fixed;
  border: 3px solid blue;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  height: 100%;
  gap:5px
}

  
  .today-tasks{
    background: #2B2929;
    color: limegreen;
    border-radius: 15px;
    padding: 15px;
    width: 50%;
  }
  
  .button-container, .task-button {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  
  } 
  
  #task-btn {
      display: flex;
      color: white;
      background-color: #464040;
      border-radius: 15px;
    }
  
    #btn2, #btn3 {
      display: flex;
      position: relative;
      color: black;
      background-color: greenyellow;
      border-radius: 15px;
    
    }
  
  
  
    .task-list {
      list-style: none;
      padding: 0;
    }
    

    .task {
      border: 2px solid blue;
      background-color: #333;
      color: white;
      border-radius: 15px;
      padding: 10px;
      margin-top: 10px;
    }
  
  #task-name{
      padding: 5px;
      margin-top: 5px;
      border-radius: 10px;
  }
  
  #time-display{
      padding: 5px;
      margin-top: 5px;
      border-radius: 10px;
  }
  
  #duration{
      padding: 5px;
      margin-top: 5px;
      border-radius: 10px;
  }
  .add-task{
    display:none;  
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
   .add-task-form{
    margin-left: 50rem;
    margin-top: 25rem;
    background-color: skyblue;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    max-width: 80%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  } 
  
  .add-task-form #task-msg{
    color: black;
    position: relative;
    margin-top: -20px;
    margin-bottom: 15px
  }
  
    #close-button{
      background-color: red;
      color: white;
      border: none;
      border-radius: 2px;
      padding: 5px 10px;
      cursor: pointer;
      font-size: 20px;
      position: relative;
      margin-left: 270px;
      margin-top: -10px;
    }
  
    .add-task.active{
      display: flex;
    }
  
    .add-task{
      transition: opacity 0.3s ease;
    }
    
    .task-title, .task-time {
      font-weight: bold;
    }
  
    .task-title{
      font-size: 12px;
    }
  
    .task-minutes {
      color: gray;
      font-size: 10px;
    }
  
    .task-time{
      font-size: 14px;
    }
  
    input #create-task{
      color: green
    }

    .task-status-container{
      display: flex;
      flex-direction: column;
      position: relative;
      flex-direction: column;
      border: 3px solid red;
      justify-content: space-around;
      height: 500px;
    }

    .task-list-container{
      display: flex;
      margin-top: 10px;
      justify-content: left;
      height: 300px;
      border: 3px solid blue;
      list-style: none;
      border-radius: 15px;
      padding-left: 15px;
      gap: 10rem;
      
    }

    ul li{
      list-style: none;
      font-style: 17px;
      padding: 12px 8px 12px 50px;
      cursor: pointer;
    }


    .complete-task-list-container{
      border: 3px solid blue;
      height: 300px;  
      margin: 10px;
      list-style: none;   
      padding-left: 5px;
      border-radius: 15px;
    }

    #taskData{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 40px;
      margin-left: -215px;
      list-style: none;
      margin-bottom: 10px;
    }


    #completeTaskData{
      text-decoration: line-through;
    }

    .show-complete{
      display:none
    }





/*   
   SUGGESTED TASK CONTAINER...................................................... */

    .suggestedTaskContainer{
      display: flex;
      flex-direction: column;
      background: #2B2929;
      border-radius: 15px;
      padding: 40px;
      width: 50%;
      position: relative;
    }
    
    
    .suggestedTaskContainer>h3 {
      color: white;
      font-size: 14px;
      list-style: none;
    }
    
    .suggested-task-list {
      flex-direction: column;
      list-style: none;
      padding: 0;
      position: relative;
      height: 100%
    }
    
    .suggested-task {
      border: 2px solid blue;
      background-color: #333;
      color: white;
      border-radius: 15px;
      padding: 10px;
      margin-top: 10px;
      list-style: none;
      height: 25%
    }
    
    
    .suggested-task-title, .suggested-task-time {
      font-weight: bold;
    }
    
    .suggested-task-title{
      font-size: 12px;
    }
    
    .suggested-task-minutes {
      color: gray;
      font-size: 10px;
    }
    
    .suggestedtask-time{
      font-size: 14px;
    }
    
    #read, #mood {
      color:goldenrod;
      font-size: 12px;
    }
    
    #meditate {
      color:#28a745
    }
    


     .suggested-mood-list{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      list-style: none;
      position: absolute;
      right: 100px;
      top: 5px;
    }

    .suggested-mood-list li {
      display: flex;
      flex-direction: column;
      margin: 5px 0;
    
    }
    
    #base {
      color: gray;
      font-size: 10px;
      list-style: none;
    
    }
    
    .check-mark {
      color:#28a745;
      font-size: 20px;
    }
    
    
    #base {
      color: gray;
      font-size: 10px;
      list-style: none;
    
    }
    
    .check-mark {
      color:#28a745;
      font-size: 20px;
    }
    
    
    .suggested-meditation-list{
      display: flex;
      list-style: none;
      position: relative;
      height: 20%;
      width: 20%;
      right: -540px;
      top:   -110px;   
    }
    
    #run-task-check-mark, #dont-run-task-check-mark, #bake-task-check-mark{
      display: flex;
      justify-content: flex-end; 
      position: relative;
      top: -85px
    
    }
    
    .suggested-meditation-list li {  
      display: flex;
      flex-direction: column;
      margin: 5px 0;
    }
    
    .container {
      display: flex;
    }
    
    h2, h3, h4, h6 {
      margin: 0;
    } 
  
  h6{
      color: gray
   } 







/* #################################### */

/* .mood-container{
  display:flex;
  flex-wrap: wrap;
  padding: 1.5rem;
  border: 3px solid red;

}


.mood-slide-container {
  display: flex;
  align-items: center; 
  border: 3px solid black;
  border-radius: 5px;
  width: 115%;
  height: 100%;
  box-shadow: 0px 32px 40px -19px;
  position: relative;
  margin-left: -20px;
  gap: 15px; 
 } 

 .value{
  position: relative;
  margin-bottom: -2.5em; 
} 

.mood-list-container{
  position: relative;
  padding:0 35px 0 35px;
  margin-right: 20px;  
  border: 2px solid purple;
  list-style: none;
}

.mood-list-container li#profile{
  color: red;
}


.mood-slide-container li {
  border: 1px solid red
}

.emoji-mood-list {
  display: flex; 
  position: relative;
  margin-top: 2px;
}

.emoji-mood-list #mood-text{
  border: 2px solid red;
  position: relative;
  right: 0px;
  margin-top: -12%;
  margin-bottom: 80px;
  margin-right: 0.5em;
  text-align: center;
  padding: 0.5em
}


.emoji-mood-list #mood {
  border: 1px solid purple;
  position: relative;
  margin-top: 2%;
  margin-bottom: 20%;
  margin-right: 0.5em; 
  text-align: center;
  padding: 0.5em
}


#range{
position: relative;
margin-top: 10px;
margin-bottom: 2%;
border-radius: 15px;
width:153px;
height: 10px;
-webkit-appearance: none;

}  */