
body {
  background-color: lightgreen;
}


.container {
  background-color: lightgreen;
}

.reg-form-container{
  display: flex;
  justify-content: center;
  margin: 110px;
  padding: 50px;
}

.home-container{
  display: flex;
  justify-content: center;
  margin: 110px;
  padding: 50px;
  border: 4px solid green;

}


.nav-bar-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
  margin: 0px;
}

.home-nav-link{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px;
  width: 400px;
  list-style: none;
}

.reg-link{
  display: flex;
}

.reg-text, .login-text, .dash-text, .home-text{
  display: flex;
  justify-content: center;
  margin: 5px;
  padding: 10px;
  color: green
}


.login-form-container{
  display: flex;
  justify-content: center;
  margin: 110px;
  padding: 50px;
}

.dash-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 5px solid green;
  margin: 200px;
  padding: 60px;
}
